@import url(https://fonts.googleapis.com/css?family=PT+Sans);
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background: #1a1a1a;
  width: 100%;
  height: 100%;
  font-family: "PT Sans", sans-serif;
}

.skills-bar-container {
  position: relative;
  width: 40%;
  min-width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
}
.skills-bar-container li {
  position: relative;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.skills-bar-container li .progressbar-title {
  color: #fff;
}
.skills-bar-container li .progressbar-title h3 {
  display: inline-block;
}
.skills-bar-container li .progressbar-title .percent {
  position: absolute;
  right: 5px;
}
.skills-bar-container li .bar-container {
  background: #555;
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.skills-bar-container li .bar-container .progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.skills-bar-container li .bar-container #progress-html {
  -webkit-animation-name: progress-html;
  animation-name: progress-html;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.skills-bar-container li .bar-container #progress-css {
  -webkit-animation-name: progress-css;
  animation-name: progress-css;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.skills-bar-container li .bar-container #progress-javascript {
  -webkit-animation-name: progress-javascript;
  animation-name: progress-javascript;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.skills-bar-container li .bar-container #progress-java {
  -webkit-animation-name: progress-java;
  animation-name: progress-java;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}
.skills-bar-container li .bar-container #progress-mysql {
  -webkit-animation-name: progress-mysql;
  animation-name: progress-mysql;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.progressred {
  background-color: #bf2919;
}

.progressblue {
  background-color: #0f4db7;
}

.progresspurple {
  background-color: #c21a71;
}

.progressorange {
  background-color: #ffa500;
}

.progressgreen {
  background-color: #06873c;
}

@-webkit-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@-webkit-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@-webkit-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@-webkit-keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@-webkit-keyframes progress-mysql {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@-moz-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@-moz-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@-moz-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@-moz-keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@-moz-keyframes progress-mysql {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes progress-mysql {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
.my{
    font-size: 15px;
    color: chartreuse;
    margin-top: 300px;
    text-align: center;
}
